@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Roboto+Condensed:wght@300;700&family=Rubik:wght@900&display=swap');


* {
    margin: 0;
    padding: 0;
    border: none;
}

/* Style header (Logo and Menu) */
header {
    height: 68px;
    width: 100%;
}
#logo {
    float: left;
    font-size: 150%;
    margin-left: 40px;
    color: inherit;
    line-height: 65px;
}
#menu {
    float: right;
    list-style-type: none;
    margin-right: 40px;
    line-height: 65px;
    font-size: 110%;
    letter-spacing: 4px;
}
.menuelements {
    display: inline;
    padding-right: 2px;
    text-decoration: none;
}


/* :hover vorgefertige Klasse für hover über Element -> Handlung */
#menu a:hover {
    border-bottom: 1px solid white;
}
a {
    color: inherit;
}
a:visited {
    color: inherit;
}
/* .active Klasse, angewendet auf einem <a> Element gibt eine bottom border wenn man auf href von <a> ist */
.active {
    border-bottom: 1px solid white;
}

/* Style body */
body {
    font-family: Roboto Condensed, sans-serif;
    font-weight: 300;
    color: white;
    background-color: rgb(31, 33, 34);
}
header a {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
}

/* style banner */
#banner-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}
#karate-picture {
    background: url("../images_videos_home/home_one.jpg") no-repeat center center;
    height: 100%;
    width: 100%;
    animation-name: karate-blur;
    animation-duration: 3s;
    animation-fill-mode: forwards;
  }
.center-horizontal {
    position: absolute;
    left: 50%;
    transform: translate( -50%);
}
#achieve {
    font-size: 130%;
    text-transform: uppercase;
    letter-spacing: 4px;
    width: 400px;
    height: 133px;
    text-align: center;
    background-color: rgb(31, 33, 34, .8);
    bottom: 435px;     
}
#karate-benefit-one {
    font-size: 130%;
    text-transform: uppercase;
    letter-spacing: 4px;
    width: 355px;
    height: 76px;
    text-align: center;
    background-color: rgb(31, 33, 34, .8);
    bottom: 275px;
}
#karate-benefit-two {
    font-size: 130%;
    text-transform: uppercase;
    letter-spacing: 4px;
    width: 355px;
    height: 76px;
    text-align: center;
    background-color: rgb(31, 33, 34, .8);
    bottom: 165px;
}
#karate-benefit-three {
    font-size: 130%;
    text-transform: uppercase;
    letter-spacing: 4px;
    width: 355px;
    height: 76px;
    text-align: center;
    background-color: rgb(31, 33, 34, .8);
    bottom: 55px;
}
#banner-outer div h3 {
    padding:8px;
}
#banner-outer div h2 {
    padding:10px;
}

@keyframes karate-blur {
    from {
      filter: blur(10px); 
    }
  
    to {
      filter: blur(0);
    }
}

/*meet the sensei*/
#meet-the-sensei-header {
    font-size: 230%;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
    padding: 20px;
    margin: 25px 0;
}
#container-box {
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
#container-box>div {
    border:white 1px;
    height:600px;
    flex-basis: 500px;
}
#container-box>div>img {
    position: relative;
    right: 0px;
    bottom: 105px;
}
#container-box>div>video {
    width: 100%;
    height: 100%;
}
#descrip-div h3 {
    font-size: 150%;
    text-align: center;
    padding: 60px 50px;
    font-weight: lighter;
}
#img-div {
    overflow: hidden;
}

/* Styling location table*/
#times h3 {
    text-align: center;
}
#location-times-header {
    font-size: 230%;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
    padding: 20px;
    margin-top: 25px;
}
.fitter {
    width: 45%;
    min-width: 300px;
    border-collapse: collapse;
    margin: 25px;
}
#container-location {
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-wrap: wrap;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}
th {
    background-color: grey;
}

/*contact */
#contact h2 {
    font-size: 230%;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
    padding: 20px;
}
.container-contact {
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-wrap: wrap;
}
#contact-form {
    text-align: center;
    height: 300px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    border: white solid 1px;
}
#contact-picture {
    width: 45%;
    height: 300px;
}

/* Styling signup form */
#container-signup {
    display: flex;
    justify-content: center;
    align-items: center;
}
#signup-fieldset {
    margin-top: 5em;
    margin-bottom: 5em;
    padding: 1em 2em;
    border: solid 1px #ccc;
    border-radius: 6px;
    box-sizing: border-box;
}
legend {
    font-size: 1.2em;
    padding: 0 .25em;
    color: white;
    font-weight: bold;
}
.form-group {
    padding-top: 1em;
}
.form-group:first-of-type {
    padding-top: 0;
}
input {
    padding: .5em;
    border-radius: 3px;
}

input[type="submit"] {
    margin-top: 2.5em;
}

/*Styling footer*/
footer {
    width: 100%;
    padding: 60px 0 30px 0;
}
footer div {
    text-align: center;
}
footer div ul li {
    width: 10%;
    display: inline-block;
    font-size: 140%;    
}


/*slider*/
.container-slider {
    padding: 2rem;
}
.slider-wrapper {
    position: relative;
    max-width: 60rem;
    margin: 0 auto;
}
.slider {
    display: flex;
    aspect-ratio: 13/9;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    border-radius: 1rem;
    min-width: 280px;
    border: 2px solid white;
}
.slider img {
    scroll-snap-align: start;
    object-fit: cover;
}
.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    padding-top: 2rem;
}
.slider-nav a {
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 50%;
    background-color: white;
    opacity: 0.7;
    transition: 500ms;
}
.slider-nav a:hover {
    opacity: 1;
}
.cover {
    object-fit: cover;
}

/* media queries */
@media screen and (max-width: 530px){
    /* logo */
    #logo {
        text-align: center;
    }
    /*meet the sensei*/
    #container-box {
        display:flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    #container-box>div {
        border:white 1px;
        height:400px;
        flex-basis: 300px;
    }
    #container-box>div>img {
        position: relative;
        right: 90px;
        bottom: 105px;
    }
    #descrip-div h3 {
        font-size: 100%;
        text-align: center;
        padding: 35px;
        font-weight: lighter;
    }
    #img-div {
        overflow: hidden;
    }

    /*header*/
    #logo {
        float: left;
        font-size: 125%;
        margin-left: 20px;
        color: inherit;
        line-height: 65px;
      }
      /* slider */
    .container-slider {
        padding: 0.5rem;
    }
}
@media screen and (max-width: 840px){
    /* header */
    header {
        height: 68px;
        width: 100%;
        margin-bottom: 100px;
    }
    footer {
        width: 100%;
        margin-top: 280px;
    }

    /*signup*/
    #container-signup {
        display: block;
        width: 260px;
        padding: 100px 0 0 22px;
    }
  
    #signup-fieldset {
        margin-top: 5em;
        margin-bottom: 5em;
        padding: 1em 2em;
        border: solid 1px #ccc;
        border-radius: 6px;
        box-sizing: border-box;
    }
    legend {
        font-size: 1.2em;
        padding: 0 .25em;
        color: white;
        font-weight: bold;
    }
    .form-group {
        padding-top: 1em;
    }
    .form-group:first-of-type {
        padding-top: 0;
    }
    input {
        padding: .5em;
        border-radius: 3px;
    }
    
    input[type="submit"] {
        margin-top: 2.5em;
    }
}

   
 










